.formControl {
  width: 60%;
  height: auto;
  margin: 2rem auto;
}

article {
  width: 100%;
  display: flex;
}

article > div {
  flex-basis: 50%;
}

article > div > .formControl > button {
  width: 100%;
}

article > main {
  margin: 20px;
}
